" .ideavimrc is a configuration file for IdeaVim plugin. It uses
"   the same commands as the original .vimrc configuration.
" You can find a list of commands here: https://jb.gg/h38q75
" Find more examples here: https://jb.gg/share-ideavimrc


" TODO read this article for ideas...
" https://www.cyberwizard.io/posts/the-ultimate-ideavim-setup/

set showmode
set incsearch
set hlsearch
set showcmd
set relativenumber number
set idearefactormode=keep

set sneak
set highlightedyank
set surround
set easymotion
set notimeout
set which-key


let mapleader = " "

" Easy visual indentation
vnoremap < <gv
vnoremap > >gv

" harpoon shortcuts
nmap <leader>hh :action ShowHarpoon<cr>
nmap <leader>ha :action AddToHarpoon<cr>

map <leader>j <Plug>(easymotion)

map <leader>c <action>(CommentByLineComment)

" Window splits
map <leader>wv <Action>(SplitVertically)
map <leader>wh <Action>(SplitHorizontally)
map <leader>wu <Action>(Unsplit)
map <leader>wm <Action>(MoveEditorToOppositeTabGroup)

"" -- Suggested options --
" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near t¡he start or end of the window.
set scrolloff=5

" Do incremental searching.
set incsearch

" Don't use Ex mode, use Q for formatting.
map Q gq

" --- Enable IdeaVim plugins https://jb.gg/ideavim-plugins

" Highlight copied text
Plug 'machakann/vim-highlightedyank'
" Commentary plugin
Plug 'tpope/vim-commentary'


"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
"" Map \r to the Reformat Code action
map \r <Action>(ReformatCode)

"" debug
map <leader>d <Action>(Debug)

"" run
map <leader>r <Action>(Run)

"" Map \b to toggle the breakpoint on the current line
map \b <Action>(ToggleLineBreakpoint)

"" quick shows
map <leader>sh <Action>(ShowHoverInfo)
map <leader>ss <Action>(QuickImplementations)